.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #ffa24b;
    font-size: 1.2rem;
  }
  .title1{
    /* align-items: center; */
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
  }
  .user-login {
    display: flex;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .user-icon span {
    font-weight: bold;
  }
  
  .dropdown {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    background-color: white;
    position:relative;
    font-size: 1rem;


  }
  
  .dropdown-header {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-body {
    width: 200px;
    position: absolute;
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
    font-size: 1rem;
    z-index:5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .dropdown-body.open {
    width: 200px;
    display: block;
    z-index:5;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  }
  
  .dropdown-item {
    padding: 10px;
    z-index:5;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  }
  
  .dropdown-item:hover {
    cursor: pointer;
    background-color: #E5E8EC;
  }
  
  .dropdown-item-dot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
  }
  
  .dropdown-item-dot.selected {
    opacity: 1;
  }
  
  .icon {
    font-size: 13px;
    color: #91A5BE;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
  }
  
  .icon.open {
    transform: rotate(90deg);
  }